header{
      background:rgb(0, 153, 255);
}

h1 {
      display: inline;
}

nav li {
      display: inline;
 }

 #logo {
      width:250px; 
     display: inline-block;
     position:absolute;
     right: 30px
     top: 82px;
nav {
     display:inline;
     margin-left: 15px;
}

nav a {
      text-transform: uppercase;
    color:aquamarine;
    font-weight: bold;
    font-size:20px ;  
    text-decoration: none;
} 