header{
      background:rgb(0, 153, 255);
}

.caixa{
   position: relative;
   width: 940px;
   margin: 0 auto;
      display: inline;

nav li {
      display: inline;
 }

 #logo {
      width:250px; 
     display: inline-block;
 }

nav {
     display:inline;
     margin-left: 15px;
     position:absolute;
     right: 30px;
     top: 82px;
}

nav a {
      text-transform: uppercase;
    color:aquamarine;
    font-weight: bold;
    font-size:20px ;  
    text-decoration: none;






.produtos{
 margin: 0auto;
}
  display: inline-block;
.produtos{
padding: 50px 0;
.item{
 width: 1076px;
 height:260px;
text-aling
width: 30px;
display:inline-blok:
text-aling;center;
border-color:red; 
border-width 3px;
border-style:solid;


.produtos li h2{
font-size: 30px;
font-weight: bold;
padding: 10px;
}

.produtos li p {
margin-top: 10px;
font-size: 20px;
}